body {
  font-family: 'Karla', sans-serif;
  background-image: url("../images/greece_Bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 75px;
}

@media (min-width: 768px) {
  body {
    padding-bottom: 110px;
  }
}



.center-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  text-align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


.footer-social-links .social-link {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #000000;
  margin-right: 16px;
  transition: all 0.3s ease-in-out;
}

.footer-social-links .social-link:last-child {
  margin-right: 0;
}

.footer-social-links .social-link:hover {
  text-decoration: none;
  background-color: #000000;
  color: rgb(255, 255, 255);
}